@import "../../assets/colors.scss";

.radio-selector {
    width: fit-content;
    min-width: 370px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.radio-btn {
    display: flex;
    align-items: center;
    padding: 0 0 15px 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e3;
    cursor: pointer;

    &:last-of-type {
        border-bottom: none;
    }

    &__name {
        width: auto;
        font-size: 13px;
        white-space: nowrap;
    }

    &__indicator {
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid $color-main;
        border-radius: 50%;

        &__inside-dot {
            position: relative;
            width: 12px;
            height: 12px;
            background-color: $color-main;
            border-radius: 50%;
            display: none;
        }

        &.selected {
            border-width: 2px;

            & .radio-btn__indicator__inside-dot {
                display: block;
            }
        }
    }

    &.disabled {
        cursor: default;
    }

    &.disabled &__indicator {
        border-color: #777;
    }

    &__hint {
        margin-left: auto;
        cursor: help;

        img {
            width: 24px;
            height: 24px;
            opacity: 40%;
        }
    }
}